* {
  box-sizing: border-box;
}

.container {
  font-weight: 400;
  display: flex;
  border: 5px solid var(--fourth-color);
  border-radius: 22px;
  background-color: var(--main-color);
  align-items: center;
  max-width: 30rem;
  height: 30rem;
  box-shadow: 5px 5px 10px var(--fifth-color);
  margin-right: 5rem;
}
.about-me {
  padding-left: 10px;
  font-size: 25px;
  line-height: 2rem;
  text-align: center;
}
.about-me__photo {
  position: relative;
  left: 5rem;
  height: 25rem;
  width: 20rem;
  border-radius: 25px;
}
