* {
  box-sizing: border-box;
}
.container {
  font-family: "Lobster Two", cursive;
  display: flex;
  /* flex-direction: row; */
  border: 5px solid var(--fourth-color);
  border-radius: 22px;
  /* margin-top: 10rem; */
  /* margin-left: 5rem; */
  background-color: var(--main-color);
  align-items: center;
  max-width: 30rem;
  height: 30rem;
  box-shadow: 5px 5px 10px var(--fifth-color);
  margin-right: 5rem;
}
.about-me {
  text-align: center;
  font-size: 28px;
  /* line-height: 2.2rem; */
  /* align-items: center; */
  /* justify-content: flex-start; */
}
.about-me__photo {
  position: relative;
  left: 5rem;
  height: 25rem;
  width: 20rem;
  border-radius: 25px;
}

/* @media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 15rem;
    max-width: 15rem;
  }
  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .about-me__photo {
    display: flex;
    flex-direction: column;
    left: 0;
    height: 15rem;
    width: 15rem;
  }
} */
