h2 {
  font-weight: 200;
}

.skills__container {
  font-weight: 500;
  display: flex;
  flex-direction: row;
  border: 3px solid var(--fourth-color);
  height: 30vh;
  width: 25rem;
  background-color: var(--main-color);
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--fifth-color);
  padding: 1rem;
  margin: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.skills__icon {
  display: flex;
  text-align: center;
  flex-direction: column;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--second-color);
  height: 3rem;
  width: 3rem;
}
