:root {
  --main-color: #f2e9e4;
  --secondary-color: #c9ada7;
  --third-color: #9a8c98;
  --fourth-color: #4a4e69;
  --fifth-color: #22223b;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 1rem;
}

html {
  background-image: radial-gradient(var(--fourth-color), var(--fifth-color));
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 950px) {
  .wrapper {
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  .sidebar__controls {
    margin-top: 0;
    width: 20rem;
    height: 10rem;
  }
  .sidebar__buttons {
    flex-direction: row;
    gap: 0.8rem;
  }
  .container {
    /* margin-top: 4rem; */
    margin-right: 0;
  }
  .about-me__photo {
    left: 2.5rem;
  }
  .tooltip .tooltip-text {
    margin-left: 0;
    top: -2.7rem;
    left: -1.5rem;
    font-size: 12px;
    padding: 8px;
  }
}
